<h3 style="font-weight: 500">CS 61B: Data Structures</h3>
<p class="61b">
    <h4>UNIX Tips of Week:</h4>
    <ul>
        <li>Discussion 3: Tab auto-completion (no link at the moment)</li>
        <li>Discussion 4: <a href="https://en.wikipedia.org/wiki/Less_(Unix)" target="_blank" class="link">less</a></li>
        <li>Discussion 5: No tip this week :(</li>
        <li>Discussion 6: <a href="https://piazza.com/class/iiklg7j9ggf2vl?cid=2396" target="_blank" class="link">aliases</a></li>
    </ul>
    <h4>Discussion Materials:</h4>
    <ul>
        <li>Discussion 4 (Inheritance): <a href="files/cs61b-disc4-inheritance.pdf" target="_blank" class="link">Slides</a></li>
        <li>Discussion 5 (ADTs): <a href="files/cs61b-disc5-adts.pdf" target="_blank" class="link">Slides</a></li>
        <li>Discussion 6 (Immutability and Encapsulation): <a href="files/cs61b-disc6-immutability.pdf" target="_blank" class="link">Slides</a></li>
    </ul>
</p>
