<h3 style="font-weight: 400">CS 61B: Data Structures</h3>
<p class="61b">
    <h4>UNIX Tips of Week:</h4>
    <ul>
        <li>Discussion 3: Tab auto-completion (no link at the moment)</li>
        <li>Discussion 4: <a href="https://en.wikipedia.org/wiki/Less_(Unix)" target="_blank" class="link">less</a></li>
        <li>Discussion 5: No tip this week :(</li>
        <li>Discussion 6: <a href="https://piazza.com/class/iiklg7j9ggf2vl?cid=2396" target="_blank" class="link">aliases</a></li>
        <li>Discussion 7: No tip this week :(</li>
        <li>
          Discussion 8: !! (Bang Bang)
          <br>
          Some relevant links:
          <ul>
            <li><a href="http://craig-russell.co.uk/2011/09/28/bang-bang-command-recall-in-linux.html#.Vt9gHpMrL-Y" target="_blank" class="link"> http://craig-russell.co.uk/2011/09/28/bang-bang-command-recall-in-linux.html#.Vt9gHpMrL-Y</a></li>
            <li><a href="ttp://blog.zloether.com/2009/05/unix-bang-and-bang-bang-shortcuts.html" target="_blank" class="link">http://blog.zloether.com/2009/05/unix-bang-and-bang-bang-shortcuts.html</a></li>
            <li><a href="http://jaysoo.ca/2009/09/16/unix-history-and-bang-commands/" target="_blank" class="link">http://jaysoo.ca/2009/09/16/unix-history-and-bang-commands/</a></li>
          </ul>
        </li>

    </ul>
    <h4>Discussion Materials:</h4>
    <ul>
        <li>Discussion 4 (Inheritance): <a href="files/cs61b-disc4-inheritance.pdf" target="_blank" class="link">Slides</a></li>
        <li>Discussion 5 (ADTs): <a href="files/cs61b-disc5-adts.pdf" target="_blank" class="link">Slides</a></li>
        <li>Discussion 6 (Immutability and Encapsulation): <a href="files/cs61b-disc6-immutability.pdf" target="_blank" class="link">Slides</a></li>
        <li>Discussion 7 (Analyzing Code): <a href="files/cs61b-disc7-analysis" target="_blank" class="link">Slides</a></li>
        <li>Discussion 8 (Asymptotics): <a href="files/cs61b-disc8-asymptotics" target="_blank" class="link">Slides</a></li>
    </ul>
</p>
