<!-- Simple header with scrollable tabs. -->
  <header class="mdl-layout__header">
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">

      <p style="font-weight: 900; font-size: 32px; font-family: Quicksand; margin: 15px; color: #E2E2E">Austin Le</p>

      <!-- Tabs -->
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect tab" href="/about">About</a>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect tab" href="/projects">Projects</a>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation -->
      <nav class="mdl-navigation" style="padding: 10px">
        <a class="mdl-navigation__link" href="https://www.linkedin.com/in/austinhle" target="_blank">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-link">LinkedIn</button>
        </a>
      </nav>
      <nav class="mdl-navigation" style="padding: 10px">
        <a class="mdl-navigation__link" href="https://github.com/austinhle" target="_blank">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-link">GitHub</button>
        </a>
      </nav>
      <nav class="mdl-navigation" style="padding: 10px">
        <a class="mdl-navigation__link" href="files/Resume-AustinLe.pdf" target="_blank">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-link">Resume</button>
        </a>
      </nav>
    </div>
  </header>
