<!DOCTYPE HTML>
<html lang="en">
<head>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<title> Austin Le </title>
<style>
.content {
	text-align: center;
	width: 800px;
	background-color: #666666;
	border: 10px solid #999999;
	border-radius: 30px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 115%;
	margin: auto;
	padding: 30px;
}
</style>
</head>
<body style="background-color: #336699">
	<div class="content">
	    {{content}}
	</div>
</body>
</html>